@import './fonts';
@import './_mixins/circle';

$default_family: ProximaNova, Arial;
$title_family: ProximaNova, Arial;
$font_size: 22px;
$title_color: #000;
$text_color: rgb(45, 45, 45);
$accent: #fcd36f;
$primary_font: ProximaNova;
$secondary_font: Lora;
$primary: #fcd36f;
$secondary: #e57745;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// $gutter: $grid-gutter-width;
